<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Administracion</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    {{> menu}}
    <div id="container">
        <h1>Informacion General.</h1>
        <div id="user-info">
            <div class="card">
                <div class="card-title">Usuario</div>
                <div class="card-body">
                    <strong>Nombre:</strong> {{full_name}}<br>
                    <strong>Correo:</strong> {{email}}
                </div>
            </div>
            <div class="card">
                <div class="card-title">Empresa</div>
                <div class="card-body">
                    <strong>RFC:</strong> {{rfc}}<br>
                    <strong>Nombre:</strong> {{company_name}}<br>
                </div>
            </div>
        </div>
        <div>
            <h1>Sucursales</h1>
            </div>
            {{#has_branches}}
                <table>
                    <tr>
                        <td>Nombre</td>
                        <td>Empleados</td>
                        <td></td>
                    </tr>
                    {{#branches}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{employee_num}}</td>
                            <td><a href="/editar-sucursal/{{id}}">editar</a></td>
                        </tr>
                    {{/branches}}
                    
                </table>
            {{/has_branches}}
            {{^has_branches}}
                <p>No hay ninguna sucursal registrada.</p>
            {{/has_branches}}
            <a href="registrar-sucursal" style="margin-right: 1em;"><button>Registar Nueva Sucursal</button></a>
            <a href="registrar-empleado"><button>Registar Nuevo Empleado</button></a>
        </div>
    </div>
</body>
</html>