<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar Sucursal</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"> 
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    {{> menu}}
    <div id="container">
        <h1>Editar Sucursal: {{name}}</h1>
        <form action="/editar-sucursal/{{id}}" method="POST">
            <input type="hidden" name="id" value="{{id}}">
            <label for="name">Nombre de la sucursal:</label><br>
            <input name="name" type="text" value="{{name}}" required><br>
            <label for="address">Direccion:</label><br>
            <input name="address" type="text" value="{{address}}"><br>
            <label for="colonia">Colonia:</label><br>
            <input name="colonia" type="text" value="{{colonia}}"><br>
            <label for="pc">Codigo Postal:</label><br>
            <input name="pc" type="text" value="{{pc}}"><br>
            <label for="city">Ciudad:</label><br>
            <input name="city" type="text" value="{{city}}"><br>
            <label for="country">Pais:</label><br>
            <input name="country" type="text" value="{{country}}"><br>
            <input
                type="submit"
                value="Guardar"
                onclick="return validateBranch(this.form)"
            >
            <br>
        </form>
        {{#has_employees}}
            <table>
                <tr>
                    <td>Nombre</td>
                    <td>RFC</td>
                    <td>Puesto</td>
                    <td>Sucursal</td>
                </tr>
                {{#employees}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{rfc}}</td>
                        <td>{{job}}</td>
                        <td>{{branch_name}}</td>
                        <td><a href="/editar-empleado/{{id}}">editar</a></td>
                    </tr>
                {{/employees}}
            </table>
        {{/has_employees}}
        {{^has_employees}}
            No hay ningun Empleado asignado a esta sucursal
        {{/has_employees}}
    </div>
    <script src="../validate.js"></script>
</body>
</html>