<!-- <a href="/">inicio</a>, Bienvenido {{user.full_name}}, <a href="/logout">Cerrar Sesion</a> -->
<div id="header">
    <a href="/">Volver al Inicio</a>
    <div id="sesion-info">
        <span>Bienvenido, {{user.full_name}}</span>
        <a href="/logout"><button>Cerrar Sesion</button></a>
    </div>
</div>
